.hero {
    background-image: url(../img/jumbotron.jpg);
    background-size: cover;
    height: 400px;
    position: relative;

    
    button {
        width: fit-content;
        background-color:  #0282F9;
        color: white;
        font-weight: 700;
        border: none;
        font-size: 1.65rem;
        padding: 0.85rem 1rem;
        position: absolute;
        bottom: -22px;
        left: 330px;
    }
}



.container_main {
    background-color: #1C1C1C;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.25rem;
    

    .wrapper {
        max-width: 1300px;
        color: white;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.75rem;
        padding: 3rem 0 3rem;
        margin: 0 auto;

        .card {

            gap: 0.5rem;
            width: 180px;
            height: 175px;
            padding-bottom: 1rem;
            margin-bottom: 3rem;
        
            .picture {
                
                aspect-ratio: 1 / 1;
                overflow: hidden;
                
            }
            
            .thumbnail {
                
                height: auto;
        
        
            }
        
            h4 {
                color: white;
                text-transform: uppercase;
                font-size: 0.85rem;
                font-weight: 200;
                padding-top: 0.75rem;
            }
        
            
        }
        
        
    }

    button {
        width: fit-content;
        background-color:  #0282F9;
        color: white;
        padding: 0.75rem 3.75rem;
        font-size: 0.70rem;
        font-weight: 700;
        border: none;

    }

    
}

.menu_options {
    background-color: #0282F9;
    margin: 0 auto;
    padding: 3.5rem 0;
    position: relative;

    .services {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 5rem;
        max-width: 1300px;
        margin: 0 auto;

        .service_item {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            text-transform: uppercase;
            color: white;
            gap: 1rem;
            font-size: 0.85rem;
        }

        .img_options {
            height: 50px;
            width: 42px;
        }
    
    }
    
}



.container_color {
    background-color: #0282F9;
    height: 100px;
}



.container_show {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    position: relative;


    .container_information {
        width: 70%;


        .wrapper_price_availability {
            display: flex;
            align-items: center;
            background-color: #55BA59;


            .price_availability {
                width: 70%;
                display: flex;
                justify-content: space-between;
                padding: 1rem;
                color: #BAFD9C;

                .price {
                    
                    span {
                        color: white;
                    }
                }

                

            }


            .check_availability {
                color: white;
            }

            .fa-caret-down {
                color: white;
            }
        }

        .description {
            color: #55555A;
            font-weight: 500;
            padding: 1rem 2rem;
        }
    
    
    
    }



}








