.hero {
    background-image: url(../img/jumbotron.jpg);
    background-size: cover;
    height: 400px;
    position: relative;

    
    button {
        width: fit-content;
        background-color:  #0282F9;
        color: white;
        font-weight: 700;
        border: none;
        font-size: 1.65rem;
        padding: 0.85rem 1rem;
        position: absolute;
        bottom: -22px;
        left: 330px;
    }
}



.container_main {
    background-color: #1C1C1C;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1.25rem;
    

    .wrapper {
        max-width: 1300px;
        color: white;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1.75rem;
        padding: 3rem 0 3rem;
        margin: 0 auto;

        .card {

            gap: 0.5rem;
            width: 180px;
            height: 175px;
            padding-bottom: 1rem;
            margin-bottom: 3rem;
        
            .picture {
                
                aspect-ratio: 1 / 1;
                overflow: hidden;
                
            }
            
            .thumbnail {
                
                height: auto;
        
        
            }
        
            h4 {
                color: white;
                text-transform: uppercase;
                font-size: 0.85rem;
                font-weight: 200;
                padding-top: 0.75rem;
            }
        
            
        }
        
        
    }

    button {
        width: fit-content;
        background-color:  #0282F9;
        color: white;
        padding: 0.75rem 3.75rem;
        font-size: 0.70rem;
        font-weight: 700;
        border: none;

    }

    
}

.menu_options {
    background-color: #0282F9;
    margin: 0 auto;
    padding: 3.5rem 0;
    position: relative;

    .services {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 5rem;
        max-width: 1300px;
        margin: 0 auto;

        .service_item {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 40px;
            text-transform: uppercase;
            color: white;
            gap: 1rem;
            font-size: 0.85rem;
        }

        .img_options {
            height: 50px;
            width: 42px;
        }
    
    }
    
}



.container_color {
    background-color: #0282F9;
    height: 80px;
}



.container_show {
    display: flex;
    max-width: 1155px;
    margin: 0 auto;
    position: relative;
    padding: 3.5rem 1rem;

    .figure_box {
        position: absolute;
        top: -310px;
        left: 80px;
        text-transform: uppercase;
        color: white;
        font-size: 0.75rem;
        border: 1px solid white;

    
        .figure_box1 {
            position: absolute;
            left: 0;
            background-color: #00A9D9;
            padding: 0.15rem 0.25rem;

    
    
        }
    
        .figure_box2 {
            position: absolute;
            bottom: 0;
            left: 0;
            background-color: #00A9D9;
            width: 100%;
            text-align: center;
            padding: 0.15rem 0;
            

            
    
        }


    }

    


    .container_information {
        width: 70%;
        padding: 1rem 2.5rem;

        h1 {
            color: #003F5E;
            text-transform: uppercase;
            font-size: 1.75rem;
            padding-bottom: 1rem;
        }


        .wrapper_price_availability {
            display: flex;
            align-items: center;
            background-color: #55BA59;
            border-bottom: 0.25px solid black;
            height: 50px;


            .price_availability {
                display: flex;
                justify-content: space-between;
                color: #BAFD9C;
                flex-basis: 0;
                flex-grow: 1;
                font-size: 0.85rem;
                padding: 0 1rem;

                .price {
                    
                    span {
                        color: white;
                    }
                }

                

            }


            .check_availability {
                color: white;
                display: flex;
                align-items: center;
                gap: 0.5rem;
                padding: 0 2rem;
                border-left: 0.25px solid black;
                height: 100%;
                align-self: center;
    
            }

            .fa-caret-down {
                color: white;
            }
        }

        .description {
            color: #55555A;
            font-weight: 500;
            padding: 1rem 0;
            font-size: 0.90rem;
            line-height: 1.5rem;
        }

        
    
    
    
    }
    

    .advertisement {
        text-align: end;
        color: #555555;
        font-size: 0.85rem;
        
        h4 {
            padding-bottom: 0.35rem;
        }


       
    }


}


.container_details {
    
    background-color: #F6F6F6;
    position: relative;

    .wrapper_details {
        display: flex;
        max-width: 1050px;
        margin: 0 auto;
        gap: 2.5rem;
        padding-bottom: 6rem;

        .title {

            color: #003F5E;
            border-bottom: 1px solid #D8D8D8;
            padding: 1.75rem 0;
            font-size: 1.25rem;
        }

        .details {
            width: 50%;
            display: flex;
            flex-direction: column;
            
            

            
    
            .list {
                display: flex;
                font-size: 0.75rem;
                border-bottom: 1px solid #D8D8D8;
                padding: 0.5rem 0;
                gap: 7rem;
    
                .title_list {   
                    color: #003F5E;
                    width: 50%;
                    
                    
                }

                .content_list {
                    color: #00A9DF;

                }
            }

            .list_series {
                color: black;
                font-size: 0.75rem;
                
                li {
                    border-bottom: 1px solid #D8D8D8;
                    padding: 0.5rem 0;
                }

                .action_comics {
                    color: #00A9DF;
                }
            }

            
        }
    


    }

    .container_footer_option {
        border: 1px solid #D8D8D8;

        .footer_options_menu {
            display: flex;
            max-width: 1100px;
            margin: 0 auto;
            justify-content: center;
            
    
            .options_menu {
                display: flex;
                gap: 2rem;
                

                &:last-child {
                    border-right: 1px solid #D8D8D8;

                }
    
                .service_item {
                    display: flex;
                    justify-content: space-between;
                    color: #D8D8D8;
                    border-left: 1px solid #D8D8D8;
                    width: 25%;
                    gap: 4rem;
                    padding: 0.5rem;

    
                    .title_service {
                        text-transform: uppercase;
                        font-size: 0.70rem;
                    }
    
                    .figure_service {
                        width: 2rem;
                        color: #D8D8D8;
    
                        
    
                    }
                }
            }
        }


    }


    


    
}







