.footer_top {
    background-image: url(../img/footer-bg.jpg);
    background-size: cover;
    display: flex;
    height: 400px;


    .wrapper_footer_top {
        max-width: 1300px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        gap: 8rem;
        

        .wrapper_photo_text {
            
            display: flex;
            justify-content: space-between;
            flex-direction: column;
            gap: 1rem;
    
    
            .footer_lists {
                display: flex;
                
                .col {
                    color: #959595;
                    width: 140px;
                    font-size: 0.75rem;
                    
                    h4 {
                        padding: 1rem 0;
                        color: white;
                        font-size: 1.25rem;
                        font-weight: 500;
                    }
    
                    li {
                        padding-bottom: 5px;
                        font-size: 0.75rem;
                    }
                }


            
            }

            .copyright {
                color: #959595;
                font-size: 0.75rem;

                a {
                    color: #0282F9;

                }


            }


        }

        .footer_picture_dc {

            height: 140%;
            aspect-ratio: 1 / 1;
            
            

        }
    
    
    }
    
}



.footer_bottom {
    background-color: #303030;
    position: relative;
    padding: 2rem 0rem;
    
    

    .wrapper_footer_bottom {
        max-width: 1250px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
        

        button {
            height: 45px;
            align-self: center;
            border: 2px solid #0282F9;
            background-color: #303030;
            color: white;
            padding: 0 0.75rem;
            font-size: 1rem;
        }
    
        .list_icons{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            gap: 1rem;
    
            h4 {
                padding-right: 0.75rem;
                color: #0282F9;
                font-size: 1.25rem;
                
            }
    
            li {
                width: 2.5rem;
                height: 2.5rem;
            }
    
        
        }

    }

    
}