@import url(https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap);/*Regole di Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}

ul,
ol,
menu {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 1600px;
  height: 100px;
}

.logo {
  width: 4rem;
}

.main_list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75rem;
  height: 100%;
}

.list_item {
  display: flex;
  align-items: center;
  height: 100%;
}
.list_item:hover {
  color: #0282F9;
  border-bottom: 5px solid #0282F9;
}

.container {
  background-color: #1C1C1C;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1.75rem;
}
.container .wrapper {
  color: white;
  max-width: 1500px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 3.5rem 1.5rem 0.5rem;
  margin: 0 auto;
}
.container button {
  width: -moz-fit-content;
  width: fit-content;
  background-color: #0282F9;
  color: white;
  padding: 0.75rem 4rem;
  font-weight: 700;
  border: none;
}
.container .hero {
  background-image: url(../assets/jumbotron.jpg);
  background-size: cover;
  height: 350px;
  width: 100vw;
  position: relative;
}
.container .hero button {
  font-size: 1.25rem;
  padding: 0.75rem 1.25rem;
  position: absolute;
  bottom: -22px;
  left: 200px;
}

.card {
  gap: 1rem;
  width: 195px;
  padding-bottom: 2rem;
}
.card .picture {
  width: 180px;
  height: 180px;
  overflow: hidden;
}
.card h4 {
  color: rgba(255, 255, 255, 0.829);
  text-transform: uppercase;
  font-size: 0.74rem;
  font-weight: 200;
  padding-top: 1rem;
}

.footer_top {
  background-color: #0282F9;
  margin: 0 auto;
  padding: 3rem 0;
  position: relative;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
}

.service_item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  text-transform: uppercase;
  color: white;
  gap: 1rem;
  font-size: 0.75rem;
}

img {
  height: 100%;
}

.footer_center {
  background-image: url(../assets/footer-bg.jpg);
  background-size: cover;
  display: flex;
  justify-content: space-around;
  padding: 0 28rem;
  height: 360px;
}

.footer_lists {
  display: flex;
  padding-top: 1.5rem;
}

.footer_picture_dc {
  margin-top: -100px;
  margin-bottom: -100px;
}

.col {
  color: #959595;
  flex-grow: 1;
  flex-basis: 0;
  width: 130px;
  font-size: 0.75rem;
}
.col h4 {
  padding: 1rem 0;
  color: white;
  font-size: 1rem;
}

li {
  padding-bottom: 5px;
}

.footer_bottom {
  display: flex;
  justify-content: space-between;
  padding: 2rem 38rem;
  background-color: #303030;
  flex-wrap: wrap;
  position: relative;
}
.footer_bottom button {
  height: 45px;
  align-self: center;
  border: 2px solid #0282F9;
  background-color: #303030;
  color: white;
  padding: 0 0.75rem;
}
.footer_bottom .list_icons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.footer_bottom .list_icons h4 {
  padding-right: 0.75rem;
  color: #0282F9;
}
.footer_bottom .list_icons li {
  width: 2.5rem;
  height: 2.5rem;
}